<div class="StripeCheckoutFormModalComponent FlexColumn [[if classNames]][[classNames]][[endif]]">

  <div class="FlexRow" style="margin-bottom: 1em;">
    <h1 style="margin: 0;">Checkout</h1>
    
    <div class="FlexExpand"></div>

    <a class="StripeLink FlexVerticalAlign" href="https://stripe.com" target="_blank">
      <img src="https://compute-us-west-1.johndsutton.com/static/powered_by_stripe.svg" width="128px"></a>
  </div>

  [[if charges]]
    <h2>Charges</h2>
    <div id="[[componentId]]_charges" class="Container FlexColumn">
      [[charges]]

      [[if transactionFee]]
        <div class="FlexRow">
          <div class="FlexVerticalAlign">
            <div>Transaction fee: [[transactionFee]]</div>
          </div>
          <div class="Tooltip"
            title="Stripe, our payment provider, charges 2.9% + $0.30 to process this transaction. This fee compensates for that charge.">
            <i class="material-icons">help_outline</i>
          </div>
        </div>
      [[endif]]

      <div class="FlexRow">
        <div class="FlexExpand"></div>
        <b>Total: [[total]]</b>
      </div>
    </div>
  [[endif]]

  <h2>Payment Information</h2>
  <div class="Container FlexColumn">
    
    [[if requireEmail]]
      <label for="[[componentId]]_email">Email Address</label>
      <input id="[[componentId]]_email" type="text" name="email" placeholder="me@email.com">
    [[endif]]

    <label for="[[componentId]]_card">Credit or debit card</label>
    <div class="CardContainer" id="[[componentId]]_card">
    <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="[[componentId]]_errorsContainer" role="alert"></div>
  </div>

  <div class="FlexExpand"></div>

  <div class="FlexRow">
    <div class="FlexExpand"></div>
    <button id="[[componentId]]_paymentButton"
      onclick="[[this]].onSubmitPaymentClicked();">Submit Payment</button>
  </div>
</div>
