<import path="../ButtonComponent/index.html">

<script>[[driver.js]]</script>

<style>[[style.css]]</style>

<script>JSRender.addTemplate('RadioButtonGroupComponent_template', `[[_index.html]]`);</script>
