<div id="[[componentId]]" class="Slideshow [[if classNames]][[classNames]][[endif]]">

  <!-- Left button -->
  <button
    id="[[componentId]]_leftButton"
    class="SlideshowButton SlideshowButtonLeft"
    onclick="[[this]].onSlideLeftButtonClicked();"
    [[if hideLeft]]style="display: none;"[[endif]]>

    <div class="FlexVerticalAlign">
      <i class="material-icons">keyboard_arrow_left</i>  
    </div>  
  </button>

  <!-- Image -->
  <div class="FlexRow" style="width: 100%;">
    <div class="FlexExpand"></div>
    <div id="[[componentId]]_imageListContainer" class="SlideshowImageContainer">
      [[if defaultImage]][[defaultImage]][[endif]]
      [[images]]
    </div>
    <div class="FlexExpand"></div>
  </div>

  <!-- Right button -->
  <button
    id="[[componentId]]_rightButton"
    class="SlideshowButton SlideshowButtonRight"
    onclick="[[this]].onSlideRightButtonClicked();"
    [[if hideRight]]style="display: none;"[[endif]]>

    <div class="FlexVerticalAlign">
      <i class="material-icons">keyboard_arrow_right</i>  
    </div>  
  </button>
</div>