<div id="[[componentId]]" class="ConfirmationModalComponent [[if classNames]][[classNames]][[endif]]">
  <h2>Confirm Action</h2>
  <p>[[query]]</p>

  <div class="FlexRow">
    <button
      onclick="[[this]].close();">Cancel</button>
    <div class="FlexExpand"></div>
    <button
      class="DangerButton"
      onclick="[[this]].onConfirmButtonClicked();">Confirm</button>
  </div>
</div>
