<import path="../ModalComponent/index.html">

<script>[[driver.js]]</script>

<style>[[style.css]]</style>

<script>JSRender.addTemplate('ConfirmationModalComponent_template', `[[_index.html]]`);</script>
