table td {
    min-width: 128px;
}

@media(max-width: 500px) {
    th {
        display: none;
    }

    td {
        display: block;
    }

    td:before {
        font-weight: bold;
    }
}

@media(min-width: 500px) {
    th, td {
        display: table-cell;
    }
}

table th[data-sort="ASC"]::after {
    content: "\0020\25B2";
}

table th[data-sort="DESC"]::after {
    content: "\0020\25BC";
}

th.Sortable {
    user-select: none;
}

th.Sortable:hover {
    cursor: pointer;
    background: lightgray;
}