<div class="Modal" id="[[componentId]]"
  onmousedown="[[this]].close(); event.stopPropagation();">

  <div
    style="flex: 0;"
    onmousedown="[[this]].close(); event.stopPropagation();">
    <i class="material-icons ModalCloseButton">close</i>
  </div>


  <div class="FlexVerticalAlign" style="height: 100%;">
    <div class="ModalContent [[if classNames]][[classNames]][[endif]]" onmousedown="event.stopPropagation();">[[content]]</div>
  </div>
</div>
