.PreviewContainer {
    overflow: hidden;
    border: 1px solid black;
    text-align: left;
    position: relative;
}

.PreviewContainer img {
    position: absolute;
    pointer-events: none;
}

.PreviewContainer img.AlignLeft {
    left: 0;
}

.PreviewContainer img.AlignRight {
    right: 0;
}

.PreviewContainer img.AlignCenter {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.SliderContainer {
    text-align: center;
    align-items: center;
}

.SliderIcon {

}

.VerticalSlider {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
}