<div id="[[componentId]]" class="SwitchComponent [[if classNames]][[classNames]][[endif]]">
    <label class="Switch">
      <input type="checkbox" name="switch" [[attributes]] [[if checked]]checked[[endif]]>
      <span class="Slider"></span>
    </label>
</div>