<div id="[[componentId]]" class="HTMLSlideshowComponent [[if classNames]][[classNames]][[endif]]">
  <button class="SlideshowButton MiddleLeft" onclick="[[this]].onPreviousButtonClicked();">
    <i class="material-icons">arrow_back</i>
  </button>

  [[slides]]

  <button class="SlideshowButton MiddleRight" onclick="[[this]].onNextButtonClicked();">
    <i class="material-icons">arrow_forward</i>
  </button>
</div>
