<import path="HTMLSlideComponent/index.html">

<script>[[driver.js]]</script>

<style>[[style.css]]</style>

<script>JSRender.addTemplate('HTMLSlideshowComponent_template', `[[_index.html]]`);</script>
